// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.border-top-pink {
    border-top: 1px solid $pink;
}
.home input#custom_17,
.home .editrow_custom_17-section label {
    visibility: hidden;
    position: absolute;
}
.crm-profile-name-Album_Set_3_Suggestion_18 .crm-submit-buttons {
    margin-top: 15px !important;
}

//header.entry-header {
//    visibility: hidden;
//    position: absolute;
//}
