.mc-banner-image {
  min-height:500px;
  background-size: cover;
  background-position: center center;
  margin-top: -76px;
}

.mc-banner-image-bottom-border {
  height:50px;
  background-repeat: repeat-x;
  background-size: auto 100%;
  margin-top: -50px;
}
