.mc-banner-image {
  min-height:500px;
  background-size: cover;
  background-position: center center;
  margin-top: -76px;
}

.mc-banner-image-bottom-border {
  height:40px;
  background: transparentize($pink, .5);
  margin-top: -40px;
}
