.home input#custom_17,
.home .editrow_custom_17-section label {
    visibility: hidden;
    position: absolute;
}
.crm-profile-name-Album_Set_3_Suggestion_18 .crm-submit-buttons {
    margin-top: 15px !important;
}
