.civievent-widget-item {
    margin-bottom: 60px;
}

.civievent-widget-event-datetime,
.civievent-widget-event-title {
    display: block !important;
    padding: 0px!important;
}

.civievent-widget-event-title h4 { margin-bottom: 10px; }

.civievent-widget-date-title,
.civievent-widget-summary {
    border-top: 2px solid transparentize($pink, .75);
    padding-top: 30px;
}


.civievent-widget-event-start-date {
  position:relative;
    @extend .font-weight-bold;
    color: $black;
    text-transform: uppercase;
}

.civievent-widget-infolink {
  position: relative;
  font-size: 24px;
  font-family: $header-font-family;
  font-weight: 700;
  text-transform: uppercase;
}

.civievent-widget-event-start-time {
  color: $gray-medium;
  position:relative;
}

.civievent-widget-event-end-time {
  color: $gray-medium;
}

.civievent-widget-event-summary {
    @extend .font-weight-light;
    position: relative;
}

.civievent-widget-event-odd {
    background: none!important;
}

.civievent-widget-event-even {
    background: none!important;
}
