// The breakpoints in this file are content related
// i.e. not dictated by Bootstrap. Don't touch them. - Joel

.contact-address {
	align-self: flex-start;
}
.vinyl_sm {
  width: 100%;
}
@media (max-width: 575px) {
	.vinyl_img {
		transform: rotate(90deg);
		max-height: 200px !important;
	}
	.confirmation {
		transform: rotate(-90deg) !important;
	}

	.mobile_text_center {
		text-align: center;
	}

	#crm-container .crm-public input[type=text] {
		width: 100%;
	}

	.contact-address {
		// @extend .align-self-start;
		align-self: center;
	}
	// This now lives in the contact-page.php due to issues with the civi.css
	// .crm-container span.crm-button {
	// 	float: initial !important;
	// }
}
@media (min-width: 575px){
	.vinyl_sm {
		visibility: hidden;
		position: absolute;
	}
}
