@media (max-width: 575px) {
	.vinyl_img {
		transform: rotate(90deg);
		max-height: 200px !important;
	}
	.confirmation {
		transform: rotate(-90deg) !important;
	}

	.mobile_text_center {
		text-align: center;
	}

	#crm-container .crm-public input[type=text] {
		width: 100%;
	}

	// This now lives in the contact-page.php due to issues with the civi.css
	// .crm-container span.crm-button {
	// 	float: initial !important;
	// }
}
