// creates left float for posts with featuerd images
.display-posts-listing .listing-item {
	clear: both;
}

.display-posts-listing img {
	float: left;
	margin: 0 30px 10px 0;
}
.bio-single,
.display-posts-bios .listing-item{
	display: block;
	clear: both;
	margin-bottom: 20px;
	min-height: 460px;

	.image {
		float: left;
		position: relative;
		min-width: 303px;
		img{
			width: 308px;
			height: 460px;
		}
		&::after {
			content: ' ';
			position: absolute;
			top: 25px;
			right: 0px;
			height: 20px;
			width: 20px;
			border-top: solid transparent 20px;
			border-bottom: solid transparent 20px;
			border-right: solid $white 20px;
		}
	}
	.title,
	.content {
		float: left;
		clear: none;
		width: calc(100% - 308px);
		padding: 20px;
	}
	.title {
		@extend h4;
		color: $pink;
		margin-bottom: 0;
		padding-top: 30px;
	}
	.content {
		padding-top: 0;
		margin-bottom: 20px;
	}

	&:nth-child(2n-1) {
		background: $black;
		.content { color: $white; background: $black;  }
		.title { color: $yellow; }
		.image::after {
			border-right: solid $black 20px;
		}
	}
	@include media-breakpoint-down(sm) {
		max-width: 308px;
		margin-left: auto;
		margin-right: auto;

		.image,
		.title,
		.content {
			display: block;
			float: none;
			width: 100%;
			min-width: 0;
		}
		.image {
			img { width: 100%; max-width: 308px; height: auto; }
			&::after {
				top: initial;
				bottom: 0px;
				right: 0px;
				left: 0;
				margin: auto;
				border-top: none;
				border-left: solid transparent 20px;
				border-right: solid transparent 20px;
				border-bottom: solid $white 20px;
			}
		}
		&:nth-child(2n-1) {
			.image::after {
				border-right: solid transparent 20px;
				border-bottom: solid $black 20px;
			}
		}
	}
}

.album-track {
	background-color: $black;
	color: #fff;
	padding: 10px;
}
