.mc-top-footer {
  position: relative;
  background-color: $gray-dark;
  background-position: center center;
  background-size: cover;
  @include media-breakpoint-down(md) {
    .container { max-width: 100% !important; }
  }
  &--right {
    position: relative;
    color: $white;
    padding: 40px;
    a {
      color: $white;
      &:hover { opacity: .8; color: $white; }
    }
    &::before {
      content: " ";
      position: absolute;
      background: transparentize($pink, .2);
      width: 50vw;
      height: 100%;
      right: 100%;
      top: 0;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
      background-image: none;
      background: transparentize($pink, .2) !important;
      &::after {
        content: " ";
        position: absolute;
        border-top: 20px solid transparentize($pink, .2);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        width: 20px;
        height: 20px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -20px;
      }
    }
  }
  &--item{
    position: relative;
    padding-left: 15px;
    &::before {
      content: " ";
      position: absolute;
      top: 5px;
      left: 0;
      height: 7px;
      width: 7px;
      border-left: $white 7px solid;
      border-top: transparent 7px solid;
      border-bottom: transparent 7px solid;
    }
    @include media-breakpoint-down(md) {
      padding-left: 0;
      &::before { display: none; }
    }
  }
}

.mc-bottom-footer {
  background: $black;
  color: $gray-light;
  padding-top: 40px;
  padding-bottom: 40px;
  &-content {
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }
}

.mc-footer-logo-mobile {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mc-footer-hosting {
  @include media-breakpoint-down(md) {
    margin-top: 40px;
  }
}

.mc-footer-linode-logo {
  @include media-breakpoint-down(md) {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.mc-footer-social {
  @include media-breakpoint-down(md) {
    float: none;
    text-align: center;
    > a + a { margin-left: 15px; }
  }

}

.contact_bg {
  background-size: cover;
  background-position: right 0px center;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}
img.socials {
    height: 35px;
    @include media-breakpoint-down(md) {
      padding-left: 0px;
      padding-top: 0px;
    }
}
.clear-both {
  clear: both;
}
