.mc-top-footer {
  position: relative;
  background-color: $gray-dark;
  background-position: center center;
  background-size: cover;
  &--right {
    position: relative;
    color: $white;
    padding: 40px;
    a {
      color: $white;
      &:hover { opacity: .8; color: $white; }
    }
    &::before {
      content: " ";
      position: absolute;
      background: transparentize($pink, .2);
      width: 50vw;
      height: 100%;
      right: 100%;
      top: 0;
    }
  }
  &--item{
    position: relative;
    padding-left: 15px;
    &::before {
      content: " ";
      position: absolute;
      top: 5px;
      left: 0;
      height: 7px;
      width: 7px;
      border-left: $white 7px solid;
      border-top: transparent 7px solid;
      border-bottom: transparent 7px solid;
    }
  }
}

.mc-bottom-footer {
  background: $black;
  color: $gray-light;
  padding-top: 40px;
  padding-bottom: 40px;

}
.contact_bg {
  background-size: cover;
  background-position: right 0px center;
}