.mc-top-footer {
  position: relative;
  background-color: $gray-dark;
  background-position: center center;
  background-size: cover;
  &--right {
    position: relative;
    color: $white;
    padding: 40px;
    a {
      color: $white;
      &:hover { opacity: .8; color: $white; }
    }
    &::before {
      content: " ";
      position: absolute;
      background: transparentize($pink, .2);
      width: 50vw;
      height: 100%;
      right: 100%;
      top: 0;
    }
  }
  &--item{
    position: relative;
    padding-left: 15px;
    &::before {
      content: " ";
      position: absolute;
      top: 5px;
      left: 0;
      height: 7px;
      width: 7px;
      border-left: $white 7px solid;
      border-top: transparent 7px solid;
      border-bottom: transparent 7px solid;
    }
  }
}

.mc-bottom-footer {
  background: $black;
  color: $gray-light;
  padding-top: 40px;
  padding-bottom: 40px;

}
.contact_bg {
  background-size: cover;
  background-position: right 0px center;

  @media (max-width: 460px) {
    text-align: center;
  }
}
img.socials {
    height: 35px;
    
    @media (min-width: 100px) {
      padding-left: 20px;
      padding-top: 4px;
    }
    @media (min-width: 460px) {
      padding-left: 25px;
    }
    @media (min-width: 469px) {
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 4px;
    }
    @media (min-width: 769px) {
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 14px;
    }
}
.clear-both {
  clear: both;
}