// Forms

.form-heading {
  position: relative;
  display: block;
  background: $yellow;
  color: $black;
  padding: 2px;
  padding-left: 40px;
  padding-right: 30px;
  margin-right: 17px;
  font-size: 20px;
  &:before {
    content: ' ';
    position: absolute;
    z-index: 1;
    display: block;
    left: 20px;
    top:0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $black;
  }
  &:after {
    content: ' ';
    position:absolute;
    right:-17px;
    display: block;
    top:0;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid $yellow;
  }
}

.form-control {
  border-radius: 0;
  margin-bottom: 5px;

  @at-root fieldset#{&} { border: none; }
  &:focus {
    border-color: $yellow;
    box-shadow: 0 0 0 1px transparentize($yellow, .7);
  }
  &::placeholder {
    color: lighten($gray-dark, 50%);
  }
  &:-ms-input-placeholder {
    color: lighten($gray-dark, 50%);
  }
  &::-ms-input-placeholder {
    color: lighten($gray-dark, 50%);
  }

  // Validation Styles.
  // You can either insert these classes, or
  // apend your plug-in specific classes here.
  &.is-valid {
    color: $green;
    border-color: $green;
    box-shadow: 0 0 0 1px transparentize($green, .7);
  }
  &.is-invalid {
    color: $red;
    border-color: $red;
    box-shadow: 0 0 0 1px transparentize($red, .7);
  }
}

label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  &.is-valid { color: $green; }
  &.is-invalid { color: $red; }
}

div.crm-container label {   font-weight: 700 !important; }

.valid-feedback { color: $green; font-weight: 500;}
.invalid-feedback { color: $red; font-weight: 500;}

//More general classes to cover a multitude of sins.
.valid { color: $green; }
.invalid { color: $red; }


#crm-container .crm-container textarea, #crm-container .crm-public input[type=text], .form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
  @extend .form-control;
  background: none;
  // While it's unrecommendable to use the !important override, these cases call for it thanks
  // to Civi's overly global CSS issues.
  border-radius: 0 !important;
  padding: .375rem .75rem !important;
}

.crm-container .crm-error,
.crm-container .crm-inline-error {
  background: none !important;
  color: $black !important;
}
.crm-container .crm-error:not(.crm-error-label) {
  color: $red !important;
  &:before {
    content: "* ";
  }
}

.crm-container input.error, .crm-container textarea.error {
  border-color: $red !important;
  box-shadow: 0 0 0 1px transparentize($red, .7);
}

.crm-container {
  & textarea {
    width: 102% !important;
    /*border-radius: 3px;*/
  }
  & .crm-section .label {
    width: unset !important;
  }
  & div.messages, #printer-friendly, .crm-submit-buttons .cancel {
    visibility: hidden;
    position: absolute;
  }

  & .crm-marker, .crm-i-button>.crm-i {
    visibility: hidden;
  }
  & .crm-section .content {
    margin: 0px !important;
  }
  & .crm-button {
    @extend .btn;
    border-radius: 0px !important;
    text-shadow: none !important;
    background: white !important;
    color: $black !important;
    text-align: center !important;
    &:hover { background: $gray-light !important; }
  }
  & .crm-button.crm-i-button input.crm-form-submit {
    padding: 5px 32px !important;
    font-size: 15px !important;
    margin-bottom: 0;
    text-shadow: none !important;
    color: $black !important;
  }
}

.crm-submit-buttons {
  margin-top: 15px !important;
}

//  Donate Form ////////////////////////////////////////////////////////////////

.alpaca-field-object {
  // border: none;
  padding: 0px;

  .form-control:focus {
    border-color: $yellow;
  }
}
.alpaca-container-label {
  @extend .form-heading;
}

.alpaca-field input, .alpaca-field select, .StripeElement {
  @extend .form-control;
}

//Reverse order to get z-index right...
.alpaca-field-radio > label  { display: block; }

.radio {
  position: relative;
  z-index: 2;
  display: inline-flex !important;
  margin: 5px 0;
  padding-left: 20px;
  border: 3px solid $yellow;
  border-right: none;
  margin-left: -4px;

  label {
    margin-bottom: 0;
    padding: 10px;
    input { display: inline-flex; }
  }
  &.checked {
    background: $yellow;
    &::after {
      background: $yellow;
    }
  }
  &::after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 4px;
    right: -17px;
    background: white;
    border-top: 3px solid $yellow;
    border-right: 3px solid $yellow;
    height: 33px;
    width: 33px;
    transform: rotate(45deg);
  }
  // &::before {
  //   content: " ";
  //   position: absolute;
  //   z-index: -2;
  //   top: -3px;
  //   right: 100%;
  //   background:$white;
  //   border-left: 23.5px solid white;
  //   border-top: 23.5px solid transparent;
  //   border-bottom: 23.5px solid transparent;
  // }
  //Some funky z-index rules to account for the buttons. -Joel
  &:nth-of-type(1) { z-index: 10; padding-left: 10px;}
  &:nth-of-type(2) { z-index: 9; }
  &:nth-of-type(3) { z-index: 8; }
  &:nth-of-type(4) { z-index: 7; }
  &:nth-of-type(5) { z-index: 6; }
  &:nth-of-type(6) { z-index: 5; }
}
