// Forms

.form-heading {
  position: relative;
  display: block;
  background: $yellow;
  color: $black;
  padding: 5px;
  padding-left: 40px;
  padding-right: 30px;
  margin-right: 17px;
  font-size: 20px;
  &:before {
    content: ' ';
    position: absolute;
    z-index: 1;
    display: block;
    left: 20px;
    top:0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $black;
  }
  &:after {
    content: ' ';
    position:absolute;
    right:-17px;
    display: block;
    top:0;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid $yellow;
  }
}

.form-control {
  border-radius: 0;
  margin-bottom: 5px;

  @at-root fieldset#{&} { border: none; }
  &:focus {
    border-color: $yellow;
    box-shadow: 0 0 0 1px transparentize($yellow, .7);
  }
  &::placeholder {
    color: lighten($gray-dark, 50%);
  }
  &:-ms-input-placeholder {
    color: lighten($gray-dark, 50%);
  }
  &::-ms-input-placeholder {
    color: lighten($gray-dark, 50%);
  }

  // Validation Styles.
  // You can either insert these classes, or
  // apend your plug-in specific classes here.
  &.is-valid {
    color: $green;
    border-color: $green;
    box-shadow: 0 0 0 1px transparentize($green, .7);
  }
  &.is-invalid {
    color: $red;
    border-color: $red;
    box-shadow: 0 0 0 1px transparentize($red, .7);
  }
}

label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  &.is-valid { color: $green; }
  &.is-invalid { color: $red; }
}

.valid-feedback { color: $green; font-weight: 500;}
.invalid-feedback { color: $red; font-weight: 500;}

//More general classes to cover a multitude of sins.
.valid { color: $green; }
.invalid { color: $red; }

// CIVICRM Styling
#crm-container {
  & .crm-public input[type="text"], .crm-container textarea {
      background: #534f4c;
      width: 80%;
      border: none;
      border-radius: 0px !important;
    }
  & .crm-public .label {
    /*  visibility: hidden;*/
      position: absolute;
      color: white;
      padding-top: 11px !important;
    }
}

.crm-container {
  & textarea {
    width: 102% !important;
    /*border-radius: 3px;*/
  }
  & .crm-section .label {
    width: unset !important;
  }
  & div.messages, #printer-friendly, .crm-submit-buttons .cancel {
    visibility: hidden;
    position: absolute;
  }
  & .required {
    color: white !important;
  }
  & .crm-marker, .crm-i-button>.crm-i {
    visibility: hidden;
  }
  & .crm-section .content {
    margin: 0px !important;
  }
  & .crm-button {
    border-radius: 0px !important;
    text-shadow: none !important;
    background: #534f4c !important;
    border: none !important;
    text-align: center !important;
  }
  & .crm-button.crm-i-button input.crm-form-submit {
    padding: 5px 32px !important;
    font-size: 15px !important;
  }
}

#editrow-last_name .label label{
  padding-left: 7px;
}

div.crm-container label {
  display: table !important;
  padding-left: 8px;
}

.crm-submit-buttons {
  margin-top: 50px !important;
}

//  Donate Form ////////////////////////////////////////////////////////////////

.alpaca-field-object {
  // border: none;
  padding: 0px;

  .form-control:focus {
    border-color: #c114a2;
  }
}
.alpaca-container-label {
  padding: 2px 0 4px 32px;
  font-size: 1em;
  text-transform: uppercase;
  background: url('../images/donation_legend.png') no-repeat;
}
// .alpaca-container-label:before {
//   content: " ";
//   position: absolute;
//   top: 8px;
//   left: 29px;
//   height: 0px;
//   width: 35px;
//   border-left: #000 7px solid;
//   border-top: transparent 7px solid;
//   border-bottom: transparent 7px solid;
// }
.alpaca-field input, .alpaca-field select, .StripeElement {
  background-color: #ECECEC !important;
  color: black;
  border-radius: inherit !important;
}
.radio {
  // border: 1px #F7CF2F solid;
  margin: 5px 0;
  padding: 9px 0 3px 12px;
  // width: 60%;
  background: url('../images/radio_button2.png') no-repeat;
}
