.mc-header {
  margin-bottom: 76px;
  background: $black;
  &__container {
    @media screen and (min-width: 992px) {
      height: 100px;
      align-items: flex-end !important;
    }
    @media screen and (max-width:991px) and (min-width: 767px) {
      display: block !important;
    }
  }
  &__logo {
    width: 100px;
    height: auto;
    &-link {
      transform: scale(1);
      transition: transform .2s ease-in-out;

      &:hover {
          opacity:1;
          transform: scale(1.04);
      }
    }
    @media screen and (min-width: 992px) { width: 300px; margin-bottom: -67px;  }
    @media screen and (max-width: 991px) and (min-width: 767px) {
      width: 150px;
      height:auto;
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__menu {
    height: 50px;
    @media (max-width: 768px) {
      height: auto;
      //text-align: right;
      padding-top: 11px;
    }
    justify-content: flex-end;
    @media screen and (max-width: 991px) and (min-width: 767px) {
      width: 100%;
      justify-content: center;
    }
  }
  &__submenu {
    background: $yellow;
    color:$black;
    border-radius: 0;
    border: none;
    border-top: 13px solid $black;
    margin-top: 0;
    padding: 0;
    &:before {
      content: " ";
      height: 10px;
      width: 10px;
      position: absolute;
      border-bottom: 10px $yellow solid;
      border-left: 10px transparent solid;
      border-right: 10px transparent solid;
      top: -10px;
      left: 10px;
    }
    .meta { font-weight: 600 !important; font-size: 12px !important; color: $black !important}
    .nav-link:hover {
      background: $black !important;
    }
    @media (max-width: 768px) {
      text-align: left;
      &:before {
        display: none;
      }
    }

  }

  .nav-link.meta.yellow:hover { color: transparentize($yellow, .2) !important;}
  .current_page_parent.nav-item > .nav-link.meta.yellow { color: white !important}
  .active .nav-link.meta.yellow { color: white}
  .current_page_parent.nav-item > .nav-link.meta.yellow:hover,
  .active .nav-link.meta.yellow:hover { color:transparentize($white, .2) !important;}

  &.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover { color: $yellow !important;}
  &.navbar-dark .navbar-nav .nav-link:hover { color: transparentize($yellow, .7)}
  .dropdown:hover .dropdown-menu { display: block; }

  @media (max-width: 768px) {
    .nav-link:focus + .dropdown-menu { display: block; }
    .dropdown-menu.focus { display: block; }
    .nav-link { display: flex; align-items: center; }
    .menu-item .caret {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-left: 30px;
      &:before {
        position: absolute;
        content: " ";
        height: 5px;
        width: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $yellow;
        margin: auto;
        top: 0; right: 0; bottom: 0; left: 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}
