$body-font-family: 'Archivo', sans-serif;
$header-font-family: 'Saira', sans-serif;

body {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 16px;
  color: $black;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  &.yellow { color: $yellow; }
  &.white { color: $white; }
  &.black { color: $yellow; }
}

h2 {
  font-family: $header-font-family;
  color: $pink;
  font-size: 32px;
  &.yellow { color: $yellow; }
  &.black { color: $yellow; }
}
h3 {
  font-family: $header-font-family;
  color: $pink;
  font-size: 28px;
  font-weight: 500;
  background-color: transparent;
  &.yellow { color: $yellow; }
  &.black { color: $yellow; }
}
h3.force {
  font-family: $header-font-family !important;
  color: $pink !important;
  font-size: 28px !important;
  font-weight: 500 !important;
  background-color: transparent !important;
  &.yellow { color: $yellow; }
  &.black { color: $yellow; }
}

h4 {
  font-size: 24px;
  font-family: $header-font-family;
}

h5 {
  font-size: 20px;
  font-family: $body-font-family;
}
h6 {
  font-size: 16px;
  font-family: $body-font-family;
}

.meta {
  font-family: $header-font-family;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  &.yellow { color: $yellow !important; }
}

.sm-text { font-size: 12px; }

.caption-text {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: $gray-medium;
}

a, .pink{ color: $pink; }

a.meta.yellow:hover { color: transparentize($yellow, .2) !important;}
.active a.meta.yellow { color: white !important;}
.active a.meta.yellow:hover { color:transparentize($white, .2) !important;}

hr {
  background: transparentize($pink, .75);
  height: 2px;
  border-top: none;
}
